<%-include("partials/header");-%>
    <h1>About</h1>
    <p>
        <%=aboutPageContent%>
    </p>
    <h2>Remove Content from the Journal</h2>
    <p>To Remove Any Content from the Journal, Visit goto: URL: yoursitename.domain<strong>/remove</strong> </p>
    <h2>Add Content to the Journal</h2>
    <p>To Add Any Content to the Journal, Visit goto: URL: yoursitename.domain<strong>/compose</strong> </p>
    <%-include("partials/footer");-%>