<%-include("partials/header");-%>
    <h1>Compose</h1>
    <p>
        <form action="/compose" method="post">
            <br>
            <label for="postTitle">Title</label> <br>
            <input class="composePost" type="text" name="postTitle" placeholder="Type your title here"><br>
            <label for="content">Post</label> <br>
            <textarea class="composePost" name="content" rows="5" placeholder="Type your post here"></textarea> <br>
            <button class="publish" type="submit" name="button">Publish</button><br>
        </form>
    </p>
    <%-include("partials/footer");-%>